{% extends "layout.html" %}
{% block content %}
<style type="text/css">
#spacer {height: 25px;}
</style>
<div class="row" id="spacer">
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<p>The work of AEME has been made possible with the help of the <a href="http://neh.org/" target="_blank">National Endowment for the Humanities</a> and the <a href="http://www.bodleian.ox.ac.uk/" target="_blank">Bodleian Library</a>.</p>
		<p>The AEME logo was designed by <a href="http://www.amypapaelias.com/" target="_blank">Amy Papaelias</a> based on the image of the initial at the beginning of La&#541;amon's <em>Brut</em> in London, British Library, Cotton Caligula A. ix, f. 3r.</p>
		<p>Names of contributing editors will be added soon.</p>
	</div>
	<div class="col-md-1"></div>
</div>
{% endblock %}

