<style type="text/css">
.input-group {
	width: 300px;
	padding: 10px 10px 0 10px;
}
</style>
<form id="searchform" action="guidelines" onsubmit="return (this.elements['q'].value.length > 0)">
<div class="input-group input-group-sm">
	<input type="text" class="form-control input-lg" placeholder="Search Guidelines" name="q"  id="tipue_search_input" pattern=".{2,}" title="Please enter at least 2 characters." required="">
	<span class="input-group-btn">
		<button id="searchbtn" class="btn btn-info btn-lg" type="button">
			<i class="fa fa-search fa-lg" aria-hidden="true"></i>
		</button>
	</span>
</div>
</form>

<!-- For Mobile -->
<div class="responsive-collapse">
	<button type="button" class="btn btn-sidebar" id="menu-spinner-button">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
</div>
<div id="sub-nav-collapse" class="sub-nav-collapse">
	<!-- Navigation -->
	<ul class="nav nav-list">
		<li class="active"><a href="00_Introduction">Introduction</a></li>
		<li><a href="#" class="aj-nav folder">Editing Policies</a>
			<ul class="nav nav-list">
				<li><a href="01_Editing_Policies/01_File_Naming_and_Organisation">File Naming and Organisation</a></li>
				<li><a href="01_Editing_Policies/02_xml_id Values">xml id Values</a></li><li><a href="01_Editing_Policies/03_AEME_Bibliographic_Style">AEME Bibliographic Style</a></li>
				<li><a href="01_Editing_Policies/04_Editorial_Abbreviations_and_Sigils">Editorial Abbreviations and Sigils</a></li>
				<li><a href="01_Editing_Policies/05_Names_of_Saints_">Names of Saints </a></li>
				<li><a href="01_Editing_Policies/06_Metadata_">Metadata </a></li>
				<li><a href="01_Editing_Policies/07_Document_File_Structure">Document File Structure</a></li>
			</ul>
		</li>
		<li><a href="#" class="aj-nav folder">Encoding Policies</a>
			<ul class="nav nav-list">
				<li><a href="02_Encoding_Policies/01_Representation_of_Characters_and_Glyphs/index" class="folder">Representation of Characters and Glyphs</a>
						<ul class="nav nav-list">
							<li><a href="02_Encoding_Policies/01_Representation_of_Characters_and_Glyphs/01_Allographs">Allographs</a></li>
							<li><a href="02_Encoding_Policies/01_Representation_of_Characters_and_Glyphs/02_Capital_Letters">Capital Letters</a></li>
							<li><a href="02_Encoding_Policies/01_Representation_of_Characters_and_Glyphs/03_Punctuation">Punctuation</a></li>
							<li><a href="02_Encoding_Policies/01_Representation_of_Characters_and_Glyphs/04_Flourishes">Flourishes</a></li>
							<li><a href="02_Encoding_Policies/01_Representation_of_Characters_and_Glyphs/05_Stray_Marks,_Blots,_and_Stains">Stray Marks, Blots, and Stains</a></li>
						</ul>
					</li>
					<li><a href="02_Encoding_Policies/02_Word-Level_Representations/index" class="folder">Word-Level Representations</a>
						<ul class="nav nav-list">
							<li><a href="02_Encoding_Policies/02_Word-Level_Representations/01_Word_Division">Word Division</a></li>
							<li><a href="02_Encoding_Policies/02_Word-Level_Representations/02_Roman_Numerals">Roman Numerals</a></li>
							<li><a href="02_Encoding_Policies/02_Word-Level_Representations/03_Abbreviations">Abbreviations</a></li>
							<li><a href="02_Encoding_Policies/02_Word-Level_Representations/04_Word_Brevigraphs">Word Brevigraphs</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="03_The_teiHeader_Section/index" class="folder">The teiHeader Section</a>
				<ul class="nav nav-list">
					<li><a href="03_The_teiHeader_Section/01_fileDesc/index" class="folder">fileDesc</a>
						<ul class="nav nav-list">
							<li><a href="03_The_teiHeader_Section/01_fileDesc/01_titleStmt">titleStmt</a></li>
							<li><a href="03_The_teiHeader_Section/01_fileDesc/02_publicationStmt">publicationStmt</a></li>
							<li><a href="#" class="folder">sourceDesc</a>
								<ul class="nav nav-list">
									<li><a href="#" class="folder">msDesc</a>
										<ul class="nav nav-list">
											<li><a href="03_The_teiHeader_Section/01_fileDesc/03_sourceDesc/01_msDesc/01_msIdentifier">msIdentifier</a></li>
											<li><a href="#" class="folder">msContents</a>
												<ul class="nav nav-list">
													<li><a href="03_The_teiHeader_Section/01_fileDesc/03_sourceDesc/01_msDesc/02_msContents/01_msItem">msItem</a></li>
												</ul>
											</li>
											<li><a href="#" class="folder">physDesc</a>
												<ul class="nav nav-list">
													<li><a href="03_The_teiHeader_Section/01_fileDesc/03_sourceDesc/01_msDesc/03_physDesc/01_handDesc">handDesc</a></li>
													<li><a href="03_The_teiHeader_Section/01_fileDesc/03_sourceDesc/01_msDesc/03_physDesc/02_scriptDesc">scriptDesc</a></li>
											<li><a href="03_The_teiHeader_Section/01_fileDesc/03_sourceDesc/01_msDesc/03_physDesc/03_decoDesc">decoDesc</a></li>
												</ul>
											</li>
											<li><a href="03_The_teiHeader_Section/01_fileDesc/03_sourceDesc/01_msDesc/04_history">history</a></li>
											<li><a href="03_The_teiHeader_Section/01_fileDesc/03_sourceDesc/01_msDesc/05_additional">additional</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="03_The_teiHeader_Section/04_encodingDesc">encodingDesc</a></li>
					<li><a href="03_The_teiHeader_Section/05_profileDesc">profileDesc</a></li>
					<li><a href="03_The_teiHeader_Section/06_revisionDesc">revisionDesc</a></li>
				</ul>
			</li>
			<li><a href="04_The_facsimile_Section/index" class="folder">The facsimile Section</a>
				<ul class="nav nav-list">
					<li><a href="04_The_facsimile_Section/01_surface">surface</a></li>
				</ul>
			</li>
			<li><a href="05_The_text_Section/index" class="aj-nav folder">The text Section</a>
				<ul class="nav nav-list">
					<li><a href="05_The_text_Section/01_body/index" class="folder">body</a>
						<ul class="nav nav-list">
							<li><a href="05_The_text_Section/01_body/01_Codicological_Structures_and_Mise-en-Page/index" class="folder">Codicological Structures and Mise-en-Page</a>
								<ul class="nav nav-list">
									<li><a href="05_The_text_Section/01_body/01_Codicological_Structures_and_Mise-en-Page/01_gb">gb</a></li>
									<li><a href="05_The_text_Section/01_body/01_Codicological_Structures_and_Mise-en-Page/02_pb">pb</a></li>
									<li><a href="05_The_text_Section/01_body/01_Codicological_Structures_and_Mise-en-Page/03_cb">cb</a></li>
									<li><a href="05_The_text_Section/01_body/01_Codicological_Structures_and_Mise-en-Page/04_lb">lb</a></li>
								</ul>
							</li>
							<li><a href="05_The_text_Section/01_body/02_Higher_Block-Level_Structural_Elements/index" class="folder">Higher Block-Level Structural Elements</a>
								<ul class="nav nav-list">
									<li><a href="05_The_text_Section/01_body/02_Higher_Block-Level_Structural_Elements/01_div1">div1</a></li>
									<li><a href="05_The_text_Section/01_body/02_Higher_Block-Level_Structural_Elements/02_head">head</a></li>
									<li><a href="05_The_text_Section/01_body/02_Higher_Block-Level_Structural_Elements/03_trailer">trailer</a></li>
									<li><a href="05_The_text_Section/01_body/02_Higher_Block-Level_Structural_Elements/04_ab">ab</a></li>
									<li><a href="05_The_text_Section/01_body/02_Higher_Block-Level_Structural_Elements/05_p">p</a></li>
									<li><a href="05_The_text_Section/01_body/02_Higher_Block-Level_Structural_Elements/06_seg">seg</a></li>
								</ul>
							</li>
							<li><a href="05_The_text_Section/01_body/03_Poetic_Lines_and_Line_Groupings">Poetic Lines and Line Groupings</a></li>
							<li><a href="05_The_text_Section/01_body/04_Forme_Work,_Notes,_and_References/index" class="folder">Forme Work, Notes, and References</a>
								<ul class="nav nav-list">
									<li><a href="05_The_text_Section/01_body/04_Forme_Work,_Notes,_and_References/01_fw">fw</a></li>
									<li><a href="05_The_text_Section/01_body/04_Forme_Work,_Notes,_and_References/02_note_and_ref">note and ref</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#" class="aj-nav folder">Highlighting and Decorative Features</a>
						<ul class="nav nav-list">
							<li><a href="05_The_text_Section/02_Highlighting_and_Decorative_Features/01_Highlighting">Highlighting</a></li>
							<li><a href="05_The_text_Section/02_Highlighting_and_Decorative_Features/02_Rubricated_and_Color-Highlighted_Text">Rubricated and Color-Highlighted Text</a></li>
							<li><a href="05_The_text_Section/02_Highlighting_and_Decorative_Features/03_Ornamental_Capitals_and_Pilcrows">Ornamental Capitals and Pilcrows</a></li>
						</ul>
					</li>
					<li><a href="05_The_text_Section/03_Scribal_Hands_and_Scripts/index" class="folder">Scribal Hands and Scripts</a>
						<ul class="nav nav-list">
							<li><a href="05_The_text_Section/03_Scribal_Hands_and_Scripts/01_Identifying_Hands">Identifying Hands</a></li>
							<li><a href="05_The_text_Section/03_Scribal_Hands_and_Scripts/02_Changes_of_Hands_and_Scripts">Changes of Hands and Scripts</a></li>
						</ul>
					</li>
					<li><a href="05_The_text_Section/04_Manuscript_Flaws_and_Damage">Manuscript Flaws and Damage</a></li>
					<li><a href="05_The_text_Section/05_Spaces">Spaces</a></li>
					<li><a href="05_The_text_Section/06_Unclear_or_Illegible_Characters">Unclear or Illegible Characters</a></li>
					<li><a href="05_The_text_Section/07_Additions_to_the_Manuscript">Additions to the Manuscript</a></li>
					<li><a href="05_The_text_Section/08_Deletions">Deletions</a></li>
					<li><a href="#" class="folder">Editorial Interventions</a>
						<ul class="nav nav-list">
							<li><a href="05_The_text_Section/09_Editorial_Interventions/01_Distinguishing_the_Diplomatic_and_Critical_Markup">Distinguishing the Diplomatic and Critical Markup</a></li>
							<li><a href="05_The_text_Section/09_Editorial_Interventions/02_Text_Supplied_by_the_Editor">Text Supplied by the Editor</a></li>
							<li><a href="05_The_text_Section/09_Editorial_Interventions/03_Editorial_Correction_to_a_Witness">Editorial Correction to a Witness</a></li>
							<li><a href="05_The_text_Section/09_Editorial_Interventions/04_Editorial_Notes_and_References">Editorial Notes and References</a></li>
							<li><a href="05_The_text_Section/09_Editorial_Interventions/05_Encoding_of_Content_in_Editorial_Notes">Encoding of Content in Editorial Notes</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="06_The_AEME_Namespace">The AEME Namespace</a></li>
		</ul>
		<div class="well well-sidebar">
			<!-- Links -->
			<a href="https://github.com/scottkleinman/aeme" target="_blank">AEME Development on GitHub</a><br>
			<a href="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/REF-ELEMENTS.html" target="_blank">TEI Element Reference</a><br>                                
			<!-- Twitter -->
			<div class="twitter">
				<hr/>
				<iframe allowtransparency="true" frameborder="0" scrolling="no" style="width:162px; height:20px;" src="https://platform.twitter.com/widgets/follow_button.html?screen_name=emesoc&amp;show_count=false"></iframe>
			</div>
			<p class="daux-link">Generated by <a href="http://daux.io" target="_blank">Daux.io</a></p>
		</div>
	</div>