{% extends "layout.html" %}
{% block content %}
<style type="text/css">
</style>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div id="splash-panel" class="panel panel-default" style="width:75%;margin: 100px auto;">
		  <div class="panel-body">
		    <h2 style="text-align:center;margin-top:50px;">The Archive of Early Middle English Edition Viewer</h2>
		    <p style="text-align:center;margin-top:50px;">This is the demo website for the Archive of Early Middle English Edition Viewer. We're going to do stuff with it.</p>
		    <p style="text-align:center;margin-top:50px;"><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
		  </div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
{% endblock %}

