{% block navbar %}
  <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand navbar-logo" href="{{ config["SITE_URL"]|safe }}">
            <!-- <a class="navbar-brand navbar-logo" href="/aeme/"> -->
            <img alt="Archive of Early Middle English" src="{{ url_for('static', filename='images/AEME_logo_final_small2.png') }}">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        {% if active_page!="viewer" %}
        <ul id="menu-list" class="nav navbar-nav">
          <li>
            <a href="{{ config["SITE_URL"]|safe }}">Home <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/about">About AEME</a></li>
              <li><a href="/guidelines">Transcription Guidelines</a></li>
              <li><a href="/downloads">Downloads</a></li>
            </ul>
          </li>
          <li>
            <a href="/viewer">Edition Viewer</a>
          </li>
        </ul>

        {% else %}
        <!-- Menu loads from config file -->
        {{MENU|safe}}
          <div class="btn-group navbar-form navbar-right" role="toolbar" aria-label="...">
            <button id="diplomatic" type="button" class="viewselect btn btn-default" data-active-class="info">Diplomatic</button>
            <button id="critical" type="button" class="viewselect btn btn-default active" data-active-class="info">Critical</button>
            <button id="proofreading" type="button" class="viewselect btn btn-default" data-active-class="info">Both</button>
            <button id="edit" type="button" class="viewselect btn btn-default" data-active-class="info">Source</button>
            <label class="btn btn-default settings">
              <a><i class="fa fa-cog"></i></a>
            </label>
          </div>
          <div class="navbar-form navbar-right">
            <label>Folio: 
              <select class="selectpicker show-tick" name="pagerSelect" id="pagerSelect" data-title="Folio" data-width="fit" data-live-search="true" data-max-options="5"></select>
            </label>
            <a tabindex="0" id="metadata" class="btn btn-info" role="button" title="Document Metadata">Metadata</a>
          </div>
          {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav><!-- /.Navbar -->
{% endblock %}